.navbar {
  width: 100%;
  height: 40px;
  background-color: #a6b3c780;
  padding: 10px 0px;
}

.nav-bar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  height: 100%;
}
.navbar-header li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.capital {
  text-decoration: none;
  color: white;
  background-color: black;
  text-transform: capitalize;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
}
.capitalize {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  font-size: 1rem;
}
